CookBook_Client/xml-resources/web-service-references/FindReceipes/wsdl/localhost_8080/CookBook_handler/FindReceipes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://CookBook_handler/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CookBook_handler/">

<xs:element name="FindReceipes_Directions" type="tns:FindReceipes_Directions"/>

<xs:element name="FindReceipes_DirectionsResponse" type="tns:FindReceipes_DirectionsResponse"/>

<xs:element name="FindReceipes_MainIngredient" type="tns:FindReceipes_MainIngredient"/>

<xs:element name="FindReceipes_MainIngredientResponse" type="tns:FindReceipes_MainIngredientResponse"/>

<xs:element name="Receipes_HealthQuotient" type="tns:Receipes_HealthQuotient"/>

<xs:element name="Receipes_HealthQuotientResponse" type="tns:Receipes_HealthQuotientResponse"/>

<xs:complexType name="Receipes_HealthQuotient">
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Receipes_HealthQuotientResponse">
<xs:sequence>
<xs:element name="return" type="tns:healthQuotient" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthQuotient">
<xs:sequence>
<xs:element name="calories" type="xs:float"/>
<xs:element name="fat" type="xs:float"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="protein" type="xs:float"/>
<xs:element name="sodium" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindReceipes_Directions">
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindReceipes_DirectionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:receipeDirections" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receipeDirections">
<xs:sequence>
<xs:element name="directions" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindReceipes_MainIngredient">
<xs:sequence>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindReceipes_MainIngredientResponse">
<xs:sequence>
<xs:element name="return" type="tns:receipeName" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receipeName">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>