CookBook_Client/src/META-INF/wsdl/localhost_8080/CookBook_handler/FindReceipes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CookBook_handler/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CookBook_handler/" name="FindReceipes">
<types>
<xsd:schema>
<xsd:import namespace="http://CookBook_handler/" schemaLocation="http://localhost:8080/CookBook_handler/FindReceipes?xsd=1"/>
</xsd:schema>
</types>
<message name="Receipes_HealthQuotient">
<part name="parameters" element="tns:Receipes_HealthQuotient"/>
</message>
<message name="Receipes_HealthQuotientResponse">
<part name="parameters" element="tns:Receipes_HealthQuotientResponse"/>
</message>
<message name="FindReceipes_Directions">
<part name="parameters" element="tns:FindReceipes_Directions"/>
</message>
<message name="FindReceipes_DirectionsResponse">
<part name="parameters" element="tns:FindReceipes_DirectionsResponse"/>
</message>
<message name="FindReceipes_MainIngredient">
<part name="parameters" element="tns:FindReceipes_MainIngredient"/>
</message>
<message name="FindReceipes_MainIngredientResponse">
<part name="parameters" element="tns:FindReceipes_MainIngredientResponse"/>
</message>
<portType name="FindReceipes">
<operation name="Receipes_HealthQuotient">
<input wsam:Action="http://CookBook_handler/FindReceipes/Receipes_HealthQuotientRequest" message="tns:Receipes_HealthQuotient"/>
<output wsam:Action="http://CookBook_handler/FindReceipes/Receipes_HealthQuotientResponse" message="tns:Receipes_HealthQuotientResponse"/>
</operation>
<operation name="FindReceipes_Directions">
<input wsam:Action="http://CookBook_handler/FindReceipes/FindReceipes_DirectionsRequest" message="tns:FindReceipes_Directions"/>
<output wsam:Action="http://CookBook_handler/FindReceipes/FindReceipes_DirectionsResponse" message="tns:FindReceipes_DirectionsResponse"/>
</operation>
<operation name="FindReceipes_MainIngredient">
<input wsam:Action="http://CookBook_handler/FindReceipes/FindReceipes_MainIngredientRequest" message="tns:FindReceipes_MainIngredient"/>
<output wsam:Action="http://CookBook_handler/FindReceipes/FindReceipes_MainIngredientResponse" message="tns:FindReceipes_MainIngredientResponse"/>
</operation>
</portType>
<binding name="FindReceipesPortBinding" type="tns:FindReceipes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Receipes_HealthQuotient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindReceipes_Directions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindReceipes_MainIngredient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FindReceipes">
<port name="FindReceipesPort" binding="tns:FindReceipesPortBinding">
<soap:address location="http://localhost:8080/CookBook_handler/FindReceipes"/>
</port>
</service>
</definitions>